body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pre_box {
-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.15);
box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.15);
}